body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 2px solid white;
  background: radial-gradient(circle at 50% 50%, #111, #000);
}
